<form
  #form="ngForm"
  (ngSubmit)="onSubmit(form, $event)"
  class="form"
  [ngFormOptions]="{ updateOn: 'blur' }"
>
  <p>Form Model Status</p>
  <pre>{{ userInfo | json }}</pre>
  <p>Form Template Reference Status</p>
  <pre>{{ form.value | json }}</pre>
  <div class="form-field">
    <label for="first-name">First Name</label>
    <input
      type="text"
      [(ngModel)]="userInfo.firstName"
      required
      name="first-name"
      id="first-name"
      placeholder="Enter your name"
    />
  </div>

  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input
      type="text"
      name="last-name"
      [(ngModel)]="userInfo.lastName"
      required
      id="last-name"
      placeholder="Enter your last name"
    />
  </div>

  <div class="form-field">
    <label for="nickname">Nickname</label>
    <input
      type="text"
      name="nickname"
      [(ngModel)]="userInfo.nickname"
      required
      id="nickname"
      placeholder="Come up with a nickname"
    />
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="userInfo.email"
      required
      id="email"
      placeholder="Provide your email"
    />
  </div>

  <div class="form-field-inline-group">
    <div class="form-field form-field--small">
      <label for="year-of-birth">Year of birth</label>
      <select
        id="year-of-birth"
        [(ngModel)]="userInfo.yearOfBirth"
        name="year-of-birth"
      >
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>

    <div class="form-field form-field--small">
      <label for="passport">Passport Number</label>
      <input
        type="text"
        name="passport"
        [(ngModel)]="userInfo.passport"
        required
        id="passport"
        placeholder="Provide Passport Data"
      />
    </div>
  </div>

  <fieldset ngModelGroup="address">
    <legend>Address</legend>
    <div class="form-field">
      <label for="full-address">Full Adress</label>
      <input
        type="text"
        name="full-address"
        [(ngModel)]="userInfo.fullAdress"
        required
        id="full-address"
        placeholder="Street name and house number"
      />
    </div>

    <div class="form-field">
      <label for="city">City</label>
      <input
        type="text"
        name="city"
        [(ngModel)]="userInfo.city"
        required
        id="city"
        placeholder="City"
      />
    </div>

    <div class="form-field">
      <label for="post-code">Post Code</label>
      <input
        type="number"
        name="post-code"
        [(ngModel)]="userInfo.passport"
        required
        id="post-code"
        placeholder="Post code"
      />
    </div>
  </fieldset>

  <!-- <fieldset>
    <legend>User Password</legend>
    <div class="form-field">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Enter user's password"
      />
    </div>

    <div class="form-field">
      <label for="confirm-password">Confirm password</label>
      <input
        type="password"
        id="confirm-password"
        placeholder="Confirm the password"
      />
    </div>
  </fieldset> -->

  <button [disabled]="form.invalid" type="submit">Save</button>
  <button type="reset" class="reset-button">Reset</button>
</form>
